*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/*--Navigatiion--*/
.navbar-nav{
    overflow: hidden;
    position: fixed;
    background: #9F241D;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; 
    margin-left: 10px;
    margin-top: 10px;
}

.collapse.navbar-collapse{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #9F241D;
}

.nav-link{
    float: left;
    background: #9F241D;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav-link:hover{
    background-color: #DB9714;
    color: #9F241D;
}

.nav-item.active{
     background: #9F241D;
}

.nav-item{
    background: #9F241D;
}



body{
    background:#9F241D;
    color:white;
}

#header{
    width: 100%;
    height: 100vh; 
    background-image: url(https://i.postimg.cc/sfcchsjL/background5.jpg) ;
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%; 
}

.header-text{
    margin-top: 40%;
    color: #DB9714;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
}

.header-text h1 span{
    color: #E5C263;
}

/*--About--*/
#about{
    padding: 80px 0;
    color: #51822B;
    z-index: -1;
    padding-top: 10%;
}

.aboutimg{
    width: 500px;
}

.row{
    display: flex: ;
    justify-content: space-between;
    flex-wrap:wrap;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #51822B ;
}

body {
    background: #222;
}

/*----skills----*/

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #E5C263;
    color: white;
    transform: rotateY(180deg);
  }


#skills{
    padding: 80px;
    background: #DB9714;
    color: #E5C263;
    padding-top: 10%;
    margin-left: 50px;
}

.skillsimg{
    width: 300px;
    height: 300px;

    background: #9F241D;
    color: #E5C263;

}

.rows{
    padding: 80px 0;
    background: #DB9714;
    color: #E5C263;

}.rows{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#skills{
    text-align: center;
    background: #DB9714;
    color: #E5C263;
    z-index: -1;
}

.sub-titles{
    font-size: 60px;
    font-weight: 600;
    color: #E5C263;
}

.sub-heading{
    font-size: 40px;
    font-weight: 300;
}

 
#container{
    
    width: 100vw;

}
#move{
    margin-left: auto;
    margin-right: auto;
}

#hardSkills{
    text-align: center;
}

#softSkills{
    text-align:center
}

/*--Education--*/
#education{
    padding: 80px;
    background: #9F241D;
    color: #5D120F;
    text-align: center;
 folderStructure
    padding-top: 7%;
}

.table{
    background: #5D120F;
    color: #fff;
    width: 90vw;
    margin-left:auto;
    margin-right: auto;
}   

.images{
    width: 100px;
}

/*----Projects----*/
#projects{
    text-align: center;
    background: #0F5736;
    color: #51822B;
    z-index: -1;
    padding-top: 10%;
}

.projectimg{
    width: 200px;
    height: 500px;
}

.sub-titless{
    font-size: 60px;
    font-weight: 600;
    color: #51822B;
}

.work-list{
    display:flex;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow:hidden;
    margin-left: 50px;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0,6), #309900);
    color: #309900;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    font-weight: 900;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 1000;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #DB9714;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.layer a i{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #309900;
    display: inline-block;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}